body{
  background: black;
}
h1 {
  text-align: center;
  color: white;
}
h2 {
  color: white
}
.Caixa1 {
  position: absolute;
  background: #336666;
  color: red;
  width: 200px;
  height: 200px;
  right: 0;
  bottom: 0;
}
.Caixa2 {
  position: absolute;
  background: #668c4d;
  color: #ffff00;
  width: 200px;
  height: 200px;
  right: 0;
  top: 0;
}
.menuprincipal {
  position: relative;
  background: darkgreen;
  width: 100%;
  height: 120px;
  top: 0;
}
